.formpagemaincontainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #318CE7;
    font-family: "Poppins", sans-serif;
}

.formpagecontainer {
    width: 30vw;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 3vh; */
    padding: 8vh 0;
    box-shadow: 0 4px 8px 0 rgba(7, 7, 7, 0.2), 0 6px 20px 0 rgba(22, 22, 22, 0.19);
}

.formpagecontainer .formpageheading {
    color: #0376d4;
    font-size: 2.5rem;
}

.formpagecontainer select {
    width: 20vw;
    height: 4.5vh;
    border: none;
    outline: none;
    background-color: #e7e7e7;
    padding-left: 1vw;
    border-left: 5px solid #0376d4;
}

.formpagecontainer input {
    width: 20vw;
    /* height: 4.5vh; */
    padding: 1vh 0;
    border: none;
    outline: none;
    background-color: #e7e7e7;
    padding-left: 1vw;
    border-left: 5px solid #0376d4;

}

.formpagecontainer .formbutton {
    border: none;
    outline: none;
    height: 6vh;
    width: 20vw;
    border-radius: 2rem;
    margin-top: 3vh;
    transition: .3s;
    background-color: #0b8ef8;
    color: white;
}

.formpagecontainer .dept {
    color: red;
}

#requiredmsg {
    color: red;
    /* display: none; */
    visibility: hidden;
    margin: 0;
}

.formpagecontainer .formbutton:hover {
    transform: scale(1.02);
}

.formitem {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.formitem label {
    color: #0376d4;
    margin-bottom: 5px;
}